[alias]
  b = branch
  cm = commit -m 
  cl = clone --depth 1
  au = add -u
	st = status -s
	lg = log --oneline --graph
  lsf = ls-files
[user]
	name = Diwas10
	email = rimaldiwas10@gmail.com
[color "status"]
  changed = blue
[init]
	defaultBranch = main
