[alias]
  b = branch
  d = diff
  au = add -u
  cl = clone --depth 1
  cm = commit -m 
	lg = log --oneline --graph
	st = status -s
  sw = switch
  lsf = ls-files
  rmc = rm --cached
  undo = reset --soft HEAD~1
[user]
	name = Diwas10
	email = rimaldiwas10@gmail.com
[color "status"]
  changed = blue
[init]
	defaultBranch = main
